/* 作成ボタンのスタイル */
.btn-danger {
    background-color: blue;  /* 背景色を青に設定 */
    color: white;            /* 文字色を白に設定 */
    border: none;            /* 枠線を削除 */
    padding: 10px 20px;      /* ボタンの内側の余白 */
    font-size: 16px;         /* 文字の大きさ */
    cursor: pointer;        /* カーソルがボタンに変わる */
}

.btn-danger:hover {
    background-color: darkblue; /* ホバー時の背景色を青の濃い色に設定 */
}
