h2 {
    margin-bottom: 30px;
    font-size: 30px;
    color: #333;
    text-align: center;
}

.account_create {
    text-align: center;
    width: 400px;              /* フォームの幅を指定 */
    margin: 0 auto;            /* フォームを中央に配置 */
}

.account_create div {
    margin-bottom: 20px;       /* 各入力フィールドの下に余白を追加 */
}

.account_create input[type="text"] {
    width: 100%;               /* 入力フィールドの幅を親要素に合わせる */
    padding: 10px;             /* 内側の余白を設定 */
    border: 1px solid #ccc;    /* 枠線を追加 */
    border-radius: 4px;        /* 角を丸くする */
    box-sizing: border-box;    /* 枠線を含めたサイズ調整 */
}

.btn-danger {
    width: 100%;               /* ボタンの幅を入力フィールドに合わせる */
    padding: 10px;             /* 内側の余白を入力フィールドに合わせる */
    background-color: rgb(25, 98, 255);
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;    /* 枠線を含めたサイズ調整 */
}

.btn-danger:hover {
    background-color: rgb(11, 71, 202);
}