/* ヘッダーはそのままのスタイル */
.header-title {
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
}

/* フォーム全体のコンテナ */
.form-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* フォームの幅とスタイルを調整 */
.form-content {
    width: 80%;         /* フォーム全体の幅を80%に設定 */
    max-width: 600px;   /* 最大幅を600pxに制限 */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

/* フォーム内の各要素 */
.form-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

label {
    flex-basis: 150px;
    font-size: 14px;
    font-weight: bold;
}

input[type="text"], input[type="date"], select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.mbti {
    text-align: center;
    background-color: #b7b7b7;
    color: white;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

.mbti:hover {
    background-color: #808080;
}

/* ボタンエリアのスタイル */
.button-area {
    display: flex;
    justify-content: flex-end; /* ボタンを右寄せ */
    gap: 20px; /* ボタン間の間隔を広げる */
}

/* 各ボタンのスタイル */
.btn {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn.save {
    background-color: #00b3ff;
    color: white;
    text-decoration: underline;
}

.btn.save:hover {
    background-color: #0271a1;
}

.btn.delete {
    background-color: #d9534f;
    color: white;
    text-decoration: underline;
}

.btn.delete:hover {
    background-color: #b02722;
}