/* ポップアップの背景 */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;  /* 中央寄せ */
}

/* ポップアップの内容 */
.popup-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 削除ボタン */
.confirm-delete-btn {
    background-color: #eb0000;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}

.confirm-delete-btn:hover {
    background-color: #da0000;
    transition: background-color 0.3s ease;
}

/* キャンセルボタン */
.cancel-btn {
    background-color: #a5a5a5;
    color: white;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    margin: 10px;
    border: none;
}

.cancel-btn:hover {
    background-color: #838383;
    transition: background-color 0.3s ease;
}

/* ボタンコンテナ */
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

/* 削除確認メッセージ */
.popup-content p {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* キャンセルリンクのスタイル */
.cancel {
    text-decoration: none;
    color: #686868;
}

.cancel:hover {
    color: #989898;
    transition: color 0.5s ease;
    text-decoration: underline;
}

/* モバイル対応 */
@media (max-width: 480px) {
    .modal-content {
        width: 90%;
        padding: 20px;
    }
}

