/* メインコンテナ */
.member-list-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 検索バーと新規作成ボタン */
.search-create-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-bar {
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create-member-btn {
    padding: 8px 16px;
    background-color: #4accff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.create-member-btn:hover {
    background-color: #128db6;
    text-decoration: underline;
}

/* メンバーリスト */
.member-list {
    width: 100%;
    max-width: 500px;
}

.member-item {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* 子要素を右揃えにする */
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.member-item span {
    margin-right: auto; /* スパン要素を左に寄せる */
}

.btn {
    margin-right: 20px; /* 「詳細」ボタンの右にスペースを追加 */
}

.delete-btn {
    margin-left: 10px; /* ゴミ箱アイコンの左にスペースを追加（必要に応じて） */
}

.detail-btn {
    padding: 5px 10px;
    background-color: #87cefa;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}

.detail-btn:hover {
    background-color: #00bfff;
}

.delete-btn {
    background: none;
    border: none;
    color: #ff6347;
    cursor: pointer;
    font-size: 16px;
}

/* ページネーション */
.pagination {
    margin-top: 20px;
}

.more-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
