/* ボディのスタイル */
body {
    font-family: Arial, sans-serif;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    overflow-x: hidden; /* 横スクロールを防ぐ */
}

/* ヘッダーのスタイル */
header nav {
    width: 100%;
    background-color: #333;
    color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px 10px;
    white-space: nowrap;
}

.navbar-left {
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-left img {
    width: 30%;
    height: auto;
}

.navbar-left a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.sub-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 中央に移動 */
}

/* メインコンテンツのスタイル */
.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 10px;
    padding: 20px;
    max-width: 900px;
    width: 100%;
}

/* ボックスのスタイル */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 8px;
}

.box a{
    text-decoration: none;
    color: #7c2020;
}

.box a:hover {
    color: #5255ba; /* ホバー時の色 */
    transition: color 0.5s ease; /* 色の変化を滑らかに */
    text-decoration: underline; /* ホバー時に下線を追加 */
}

.box1 {
    background-color: #bebebe; 
    text-decoration: none;
} /* ライトグレー - 進行中プロジェクト */
.box2 { 
    background-color: #b7ecff; 
    text-decoration: none;
} /* ライトブルー - 過去プロジェクト */
.box3 { 
    background-color: #71f35a; 
    text-decoration: none;
} /* グリーン - アカウント管理 */
.box4 { 
    background-color: #b754ec; 
    text-decoration: none;
} /* パープル - メンバーリスト */
.box5 { 
    background-color: #f875b7; 
    text-decoration: none;
} /* ピンク - 進行中プロジェクト */

