/* ナビゲーションバー全体 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffff9; /* 背景色 */
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 影を追加 */
}

/* 左側のリンクグループ */
.navbar-left a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.navbar-left a:hover {
    color: #007bff; /* ホバー時のリンク色 */
}

/* 右側のリンクグループ */
.navbar-right a {
    margin-left: 15px;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.navbar-right a:hover {
    color: #ff0000;
}

/* ロゴアイコン */
.logo-icon {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

/* ユーザーアイコン */
.user-icon img {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
