{% extends 'base2.html' %}
{% load static %}

{% block head %}<link rel="stylesheet" href="{% static 'css/account_creating.css' %}">{% endblock %}
{% block content %}
<h2>アカウント作成</h2>
    <form action="account_create_complete/" method="post">
        {% csrf_token %}
        <div>
           <dt>アカウント名</dt>
           <dt>{{ form.name }}{{ form.name.errors }}</dt>
        </div>
        <div> 
            <dt>アカウントID</dt>
            <dt>{{ form.user_id }}{{ form.user_id.errors }}</dt>
        </div>
        <div>
            <dt>パスワード</dt>
            <dt>{{ form.password }}{{ form.password.errors }}</dt>
        </div>
        <div>
            <td><a href="{% url 'accounts:account_create_complete' %}" class="btn btn-danger">作成</a></td>
        </div>

{% endblock %}