{% extends 'base2.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/account_change.css' %}">
{% endblock %}
{% block content %}


    <div class="account_change">
        <h2>アカウント編集</h2>
        {% comment %} <form action="{% url 'accounts:account_change_employee' pk=user.pk %}" method="post"> {% endcomment %}
            {% csrf_token %}
            <div>
                <input type="text" id="user_name" name="name" placeholder="名前を入力してください" maxlength="10" required>
            </div>

            <div>
                <input type="text" id="user_password" name="password" placeholder="パスワードを入力してください" maxlength="10" required>
            </div>

        <div class="button-group">
            <button type="submit" class="btn btn-save">保存</button>
            <a href="{% url 'canri_app:index' %}" class="btn btn-cancel">キャンセル</a>
        </div>
    </form>
</div>

{% endblock %}
