{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/account_change_employee.css' %}">
{% endblock %}
{% block content %}
<h2>ユーザアカウント変更</h2>
    <form method="POST" action="{% url 'accounts:account_change_complete' pk=user.pk %}">
        {% csrf_token %}
    
        <label for="username">ユーザ名🔒</label>
        <input type="text" id="username" name="name" value="{{ user.name }}" maxlength="10" readonly autocomplete="username">
        
        <label for="userid">ユーザID🔒</label>
        <input type="text" id="userid" name="user_id" value="{{ user.user_id }}" maxlength="10" readonly>
        
        <label for="password">パスワード:</label>
        <!-- <input type="password" id="password" name="password" class="form-control" maxlength="10"  required> -->
            <p>{{ form.new_password1 }}</p>
            <p>※パスワード(確認用):{{ form.new_password2 }}</p>
            {% if form.errors %}
                <ul class="errorlist">
                {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        <button type="submit">保存</button>
        <a href="{% url 'accounts:manage_account' %}">キャンセル</a>
    </form>
{% endblock %}
