{% extends 'base2.html' %}
{% load static %}

{% block head %}<link rel="stylesheet" href="{% static 'css/account_create.css' %}">{% endblock %}
{% block content %}
<h2>アカウント作成</h2>
    <form action="{% url 'accounts:account_create_complete' %}" method="post">
        {% csrf_token %}
        <div>
           <dt>アカウント名</dt>
           <dt>{{ form.name }}{{ form.name.errors }}</dt>
        </div>
        <div> 
            <dt>アカウントID</dt>
            <dt>{{ form.user_id }}{{ form.user_id.errors }}</dt>
        </div>
        <div>
            <dt>パスワード</dt>
            <dt>{{ form.password }}{{ form.password.errors }}</dt>
        </div>
        {% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
        <div>
            <button type="submit">作成</button>
        </div>
    </div>

{% endblock %}