{% extends 'base2.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/account_change_employee.css' %}">
{% endblock %}
{% block content %}
<h2>ユーザアカウント変更</h2>
    <form method="POST" action="{% url 'accounts:account_change_complete' pk=user.pk %}">
        {% csrf_token %}
    
        <label for="username">ユーザ名🔒</label>
        <input type="text" id="username" name="name" value="{{ item.name }}" maxlength="10" readonly>
        
        <label for="userid">ユーザID🔒</label>
        <input type="text" id="userid" name="user_id" value="{{ item.user_id }}" maxlength="10" readonly>
        
        <label for="password">パスワード</label>
        <input type="password" id="password" name="password" maxlength="10" required>
        
        <button type="submit">保存</button>
        <a href="{% url 'accounts:manage_account' %}">キャンセル</a>
    </form>

{% endblock %}