{% extends 'base.html' %}


{% load static %}

{% block head %}<link rel="stylesheet" href="{% static 'css/account_delete.css' %}">{% endblock %}
{% block content %}

<form method="POST" action="{% url 'accounts:account_delete' name=object.name %}">
    {% csrf_token %}
    <div class="modal">
        <div class="modal-content">
            <p>アカウントを削除しますか？</p>
            <p>{{ name }}</p>
            <div class="modal-buttons">
                <button type="submit" class="btn btn-confirm">削除</button>
                <a href="{% url 'accounts:manage_account' %}" class="btn btn-cancel">キャンセル</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

