{% extends 'base2.html' %}
{% block content %}
<h2>ユーザアカウント変更</h2>
    <form>
        <label for="username">ユーザ名🔒</label>
        <input type="text" id="username" name="username" value="#" readonly>
        
        <label for="userid">ユーザID🔒</label>
        <input type="text" id="userid" name="userid" value="#" readonly>
        
        <label for="password">パスワード</label>
        <input type="password" id="password" name="password" required>
        
        <a href="{% url 'accounts:account_change_complete' %}">保存</a>
        <a href="{% url 'accounts:management_account' %}">キャンセル</a>
    </form>

{% endblock %}