<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Can理</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar">
            <!-- ハンバーガーメニューアイコン -->
            <div class="hamburger-menu" onclick="toggleMenu()">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="navbar-left">
                <a href="{% url 'canri_app:index' %}" class="logo">ホーム</a>
                <a href="{% url 'canri_app:new_project' %}">新規プロジェクト</a>
                <a href="{% url 'canri_app:project' %}">進行中プロジェクト</a>
                <a href="{% url 'canri_app:past_project'%}">過去プロジェクト</a>
                <a href="{% url 'canri_app:memberlist' %}">メンバーリスト</a>
            </div>
            <div class="navbar-right">
                <a href="{% url 'accounts:account_change_employee' %}" class="user-icon">
                    <img src="{% static 'images/user-icon.png' %}" alt="管理者アイコン">{{ name}}
                </a>
                <a href="{% url 'accounts:logout_confirmation' %}">ログアウト</a>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>

    <script>
        function toggleMenu() {
            const navLinks = document.querySelector('.navbar-left');
            navLinks.classList.toggle('active');
        }
    </script>
</body>
</html>
