<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Can理</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!--追加のcss記入-->
    {% block head %}{% endblock %}
</head>
<body>
    <body>
        <header>
            <nav class="navbar">
                <div class="navbar-left">
                    <a href="#" class="logo">
                        <img src="{% static 'images/logo.png' %}" alt="ロゴ" class="logo-icon">
                        ホーム
                    </a>
                    <a href="#">進行中プロジェクト</a>
                    <a href="#">新規プロジェクト</a>
                    <a href="#">過去プロジェクト</a>
                    <a href="#">メンバーリスト</a>
                </div>
                <div class="navbar-right">
                    <a href="#" class="user-icon">
                        <img src="{% static 'images/user-icon.png' %}" alt="管理者アイコン">
                        社員名
                    </a>
                    <a href="/logout_confirmation">ログアウト</a>
                </div>
            </nav>
        </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
