{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <title>ログイン</title>
</head>
<body>

    <div class="login-container">
        <h2>ログイン</h2>
        {% if form.errors %}
            <p class="error-message">ユーザー名かパスワードが一致しません</p>
        {% endif %}

        <form action="{% url 'accounts:login' %}" method="post">
            {% csrf_token %}
            <div>
                <input type="text" placeholder="半角でご入力ください" for="user_id" id="user_id" name="user_id" required>
                {{ form.user_id }}
            </div>
        
            <div>
                <input type="password" placeholder="20文字以内の半角英数字でご入力ください" for="password" id="input_pass" name="password" required>
                {{ form.password }}
            </div>
        
            <div class="checkbox-container">
                <input type="checkbox" id="show-password"> <label for="show-password">パスワードを表示</label>
            </div>
        
            <button type="submit" class="login-btn">ログイン</button>
        </form>
    </div>

    <script>
        document.getElementById("show-password").addEventListener("change", function() {
            document.getElementById("input_pass").type = this.checked ? "text" : "password";
        });
    </script>

</body>
</html>
