{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/logout_confirmation.css' %}">
<body>
    <div class="logout_confirmation">
        <h1>ご確認</h1>
        <h2>ログアウトします<h2>
        <h2>よろしいですか？</h2>

            <a href="{% url 'accounts:logout_complete' %}" class="a">OK</a>
            {%csrf_token%}
        </form>

            <a href="{% url 'canri_app:index' %}" class="b">キャンセル</a>
            {%csrf_token%}
        </form>
    
    </div>
</body>
{% endblock %}
