{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/management_account.css' %}">
{% endblock %}
{% block content %}
<h2>ユーザーアカウント一覧</h2>

<!-- ユーザー情報のテーブル -->
<table border="1">
    <thead>
        <tr>
            <th>名前</th>
            <th>ユーザーID</th>
            <th>削除</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <!-- ユーザー名を表示し、編集リンクを作成 -->
            <td class="management_app">
                {% if user.pk %}
                <a href="{% url 'accounts:manage_account_change' pk=user.pk %}" class="btn save">
                    {{ user.name }}
                </a>
                {% endif %}
            </td>
            <!-- ユーザーIDを表示 -->
            <td id="{{ forloop.counter }}">{{ user.user_id }}</td>
            <!-- 削除リンクを作成 -->
            <td>
                <a href="{% url 'accounts:account_delete' user.name  %}" class="btn btn-danger" data-user-id="{{ user.user_id }}">
                    🗑️
                </a>
            </td>
        </tr>
        {% endfor %}
        <h2><a href="{% url 'accounts:account_create' %}" class="btn btn-create">新規作成</a></h2>
    </tbody>

</table>


{% endblock %}
