{% extends 'base2.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/management_account.css' %}">
{% endblock %}
{% block content %}
<h2>ユーザーのアカウント一覧</h2>

<!-- ユーザー情報のテーブル -->
<table border="1">
    <thead>
        <tr>
            <th>名前</th>
            <th>ユーザーID</th>
            <th>削除</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <!-- ユーザー名を表示し、編集リンクを作成 -->
            <td>
                <a href="{% url 'accounts:account_change' %}" class="btn save">
                    {{ user.name }}
                </a>
            </td>
            <!-- ユーザーIDを表示 -->
            <td id="{{ forloop.counter }}">{{ user.user_id }}</td>
            <!-- 削除リンクを作成 -->
            <td>
                <a href="{% url 'accounts:account_delete' %}" class="btn btn-danger" data-user-id="{{ user.user_id }}">
                    🗑️
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>



{% endblock %}
