<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Can理</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!--追加のcss記入-->
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
            <li><a href="#">ホーム</a></li>
            <li><a href="#">進行中プロジェクト</a></li>
            <li><a href="#">新規プロジェクト</a></li>
            <li><a href="#">過去プロジェクト</a></li>
            <li><a href="#">メンバーリスト</a></li>
            <li><a href="#">社員名</a></li>
            <li><a href="#">ログアウト</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
