<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Can理</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        {% block header %}
        <ul class="menu_group">
            <li class="menu_item"><a href="#"></a>ホーム</li>
            <li class="menu_item"><a href="#"></a>進行中プロジェクト</li>
            <li class="menu_item"><a href="#"></a>新規プロジェクト</li>
            <li class="menu_item"><a href="#"></a>過去プロジェクト</li>
            <li class="menu_item"><a href="#"></a>メンバーリスト</li>
            <li class="menu_item"><a href="#"></a>アカウント管理</li>
            <li class="menu_item"><a href="#"></a>管理者</li>
            <li class="menu_item"><a href="#"></a>ログアウト</li>
        </ul>
        {% endblock %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
