<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Can理</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        {% block header %}
        <nav>
            <a href="#">ホーム</a>
            <a href="#">進行中プロジェクト</a>
            <a href="#">新規プロジェクト</a>
            <a href="#">過去プロジェクト</a>
            <a href="#">メンバーリスト</a>
            <a href="#">社員名</a>
            <a href="logout_confirmation.html">ログアウト</a>
        </nav>
        {% endblock %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
