{% extends 'base2.html' %}

{% block content %}
<h1>
    ユーザーのアカウント一覧
    <h1>
        <table border="1">
            <tr>
            <th>名前</th><th>ユーザーID</th>
            </tr>
            <tr>
            <td>大原太郎</td><td>OHARA0001</td>
            </tr>
            <tr>
            <td>大原次郎</td><td>OHARA0002</td>
            </tr>
            <tr>
            <td>大原三郎</td><td>OHARA0003</td>
            </tr>
            <tr>
            <td>大原四郎</td><td>OHARA0004</td>
            </tr>
        </table>
{% endblock %}
