{% extends 'base2.html' %}

{% block content %}
<h2>
    ユーザーのアカウント一覧
</h2>
        <table border="1">
            <tr>
            <th>名前</th><th>ユーザーID</th>
            </tr>
            <tr>
            <td>大原太郎</td><td>OHARA0001</td>
            <td><button type="button" class="btn btn-danger">🗑️</button></td>
            </tr>
            <tr>
            <td>大原次郎</td><td>OHARA0002</td>
            <td><button type="button" class="btn btn-danger">🗑️</button></td>
            </tr>
            <tr>
            <td>大原三郎</td><td>OHARA0003</td>
            <td><button type="button" class="btn btn-danger">🗑️</button></td>
            </tr>
            <tr>
            <td>大原四郎</td><td>OHARA0004</td>
            <td><button type="button" class="btn btn-danger">🗑️</button></td>
            </tr>
        </table>
        <div>＋</div>
        
{% endblock %}
