{% extends 'base.html' %}
{% load static %}

{% block head %}<link rel="stylesheet" href="{% static 'css/account_create.css' %}">{% endblock %}
{% block content %}
<h2>アカウント作成</h2>
    <form action="アカウント作成完了" method="post">
        <div> 
            <input type="text" value="ユーザID" id="userid" name="id" required>
        </div>
        <div>
            <input type="text" value="パスワード" id="password" name="password" required>
        </div>
        <div>
            <input type="text" value="ユーザ名" id="username" name="name" required>
        </div>
        <div>
            <td><button type="submit" class="btn btn-danger">保存</button></td>
        </div>
        <div>
            <td><button type="submit" class="btn btn-danger">キャンセル</button></td>
        </div>

{% endblock %}

