{% extends 'base2.html' %}

{% comment %} 管理者 {% endcomment %}

{% load static %}

{% block head %}<link rel="stylesheet" href="{% static 'css/account_creating.css' %}">{% endblock %}
{% block content %}
<h2>アカウント作成</h2>
    <form action="account_create_complete/" method="post">
        {% csrf_token %}
        <div>
            <input type="text" value="ユーザ名" id="username" name="name" required>
        </div>
        <div> 
            <input type="text" value="ユーザID" id="userid" name="id" required>
        </div>
        <div>
            <input type="text" value="パスワード" id="password" name="password" required>
        </div>
        <div>
            <td><button type="submit" class="btn btn-danger">作成</button></td>
        </div>

{% endblock %}

