<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Can理</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- 追加のcss記入 -->
    {% block head %}{% endblock %}
</head>
<body>
        <header>
            <nav class="navbar">
                <div class="navbar-left">
                    <img src="{% static 'img/logo.png' %}" alt="ロゴ" class="img">
                    <a href="{% url 'canri_app:index' %}" class="logo">
                        ホーム
                    </a>
                    <a href="{% url 'canri_app:new_project' %}">新規プロジェクト</a>
                    <a href="{% url 'canri_app:project' %}">進行中プロジェクト</a>
                    <a href="{% url 'canri_app:past_project'%}">過去プロジェクト</a>
                    <a href="{% url 'canri_app:memberlist' %}">メンバーリスト</a>
                </div>
                <div class="navbar-right">
                    <div class="user-info-container">
                        <div class="user-info">
                            <img src="{% static 'img/user_icon.png' %}" alt="社員アイコン">
                            {% comment %} <a href="{% url 'accounts:account_change_employee' pk=user.pk %}">{{ user.name }}様</a> {% endcomment %}
                        </div>
                        <a href="{% url 'accounts:logout_confirmation' %}" class="logout-link">ログアウト</a>
                    </div>
                </div>
            </nav>
        </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
