{% extends 'base2.html' %}

{% load static %}

{% block head %}<link rel="stylesheet" href="{% static 'css/menu.css' %}">{% endblock %}

{% block content %}
<div class="main-content">
    <div class="box box1"><a href="#">進行中プロジェクト</a></div>
    <div class="box box2"><a href="#">過去プロジェクト</a></div>
    <div class="box box3"><a href="{% url 'canri_app:management_account' %}">アカウント管理</a></div>
    <div class="box box4"><a href="#">メンバーリスト</a></div>
    <div class="box box5"><a href="#">進行中プロジェクト</a></div>
</div>
{% endblock %}
