{% extends 'base2.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="main-content">
    <div class="box box1"><a href="{% url 'canri_app:project' %}">進行中プロジェクト</a></div>
    <div class="box box2"><a href="sss">過去プロジェクト</a></div>
    <div class="box box3"><a href="{% url 'canri_app:management_account' %}">アカウント管理</a></div>
    <div class="box box4"><a href="{% url 'canri_app:memberlist' %}">メンバーリスト</a></div>
    <div class="box box5"><a href="{% url 'canri_app:new_project' %}">新規プロジェクト</a></div>
</div>
{% else %}
<h1><a href="{% url 'login' %}">ログイン</a></h1>
{% endif %}
{% endblock %}
