<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <ul class="menu_group">
                <li class="menu_item"><a href="#"></a>ホーム</li>
                <li class="menu_item"><a href="#"></a>進行中プロジェクト</li>
                <li class="menu_item"><a href="#"></a>新規プロジェクト</li>
                <li class="menu_item"><a href="#"></a>過去プロジェクト</li>
                <li class="menu_item"><a href="#"></a>メンバーリスト</li>
            </ul>
        </header>
    </body>
</html>