{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/memberlist_delete.css' %}">
{% endblock %}

{% block content %}
<!-- ポップアップダイアログ -->
<div id="deletePopup" class="popup">
    <div class="popup-content">
        <p>{{ category.category_name }}を削除しますか？</p>
        <a href="{% url 'canri_app:memberlist_delete_complete' category_id=category.category_id %}" class="confirm-delete-btn">削除</a>
        <a href="{% url 'canri_app:memberlist' %}" class="cancel">キャンセル</a>
    </div>
</div>

{% endblock %}