{% extends 'base2.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/memberList_make.css' %}">
{% endblock %}

{% block content %}
    <h2>メンバーリスト作成</h2>

    <section class="section_one">
        
        <form action="" method="POST">    
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input name="query" value="" type="text" placeholder="メンバー名で検索"/>
            <button type="submit" class="btn">検索</button>
        </form>

        <!-- 検索結果表示 -->
        <h3>検索結果</h3>
        <ul>
            
            <form method="POST" action="{% url 'canri_app:memberList_make' %}">
                {% csrf_token %}
                {% for member in members %}
                    <li>{{ member.name }}</li>
                    <!-- 隠しフィールドを追加してメンバーIDを送信 -->
                    <input type="hidden" name="member_id" value="{{ member.member_id }}">
                    <button type="submit" class="btn">⊕リストに追加</button>
                {% endfor %}
            </form>
            
        </ul>

        <button type="file" class="csv_ref">csvファイルアップロード</button>
        <form action="{% url 'canri_app:member_make' %}" >
            {% csrf_token %}
            <button type="submit" class="btn">⊕新規メンバー追加</button>
        </form>

        
    </section>

    <section class="section_two">
        <p>リスト内メンバー</p>
        {{ MemberList.member }}
        {% for member_id in memberID_list %}
            <input type="hidden" name="memberID_list" value="{{ member_id }}">
            <li>{{ member.name }}</li>
        {% endfor %}
    </section>

    <section class="section_three">
        <form method="post" action="{% url 'canri_app:memberList_make_complete' %}">
            {% csrf_token %}
            <input type="text" name="member_list_name" placeholder="メンバーリスト名を入力してください">
            <input type="text" name="member_list_details" placeholder="メンバーリストの詳細を入力してください">
            <button class="memberList_save" type="submit">保存</button>
            <button class="memberList_cancel" type="button">キャンセル</button>
        </form>
    </section>
{% endblock %}