{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/memberlist_make.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>メンバーリスト編集</h2>

    <section class="search-section">
        <form method="GET" class="form-inline">
            {% csrf_token %}
            <input type="search" name="query" value="{{ request.GET.query }}" placeholder="メンバー名で検索"/>
            <button type="submit" class="btn-primary">検索</button>
        </form>

        <h2>検索結果</h2>
        <ul class="member-list">
            {% for member in members %}
                <li>
                    <a href="{% url 'canri_app:member_edit' member_id=member.member_id %}">{{ member.name }}</a>
                    <form method="POST" action="{% url 'canri_app:memberlist_edit' category_id=category_id %}" class="inline-form">
                        {% csrf_token %}
                        <input type="hidden" name="category_id" value="{{ category.category_id }}">
                        <input type="hidden" name="member_id" value="{{ member.member_id }}">
                        <button type="submit" class="btn-secondary">リストに追加</button>
                    </form>
                </li>
            {% endfor %}
        </ul>

        <form method="post" enctype="multipart/form-data" action="{% url 'canri_app:member_csv_upload' %}" class="upload-form">
            {% csrf_token %}
            <input type="file" name="csv_file" accept=".csv" class="file-input" required>
            <button type="submit" class="btn-primary">アップロード</button>
        </form>
        <form method="GET" action="{% url 'canri_app:member_make' %}" class="inline-form">
            {% csrf_token %}
            <button type="submit" class="btn-add">⊕新規メンバー追加</button>
        </form>
    </section>

    <section class="selected-members-section">
        <p>リスト内メンバー</p>
        <ul class="selected-list">
            {% for member_id in memberID_list %}
                <li>
                    {{ member_dict|dict_key:member_id|default:"名前が見つかりません" }}
                    <form method="POST" action="{% url 'canri_app:memberlist_edit' category_id=category_id %}" class="inline-form">
                        {% csrf_token %}
                        <input type="hidden" name="category_id" value="{{ category.category_id }}">
                        <input type="hidden" name="delete_member_id" value="{{ member_id }}">
                        <button type="submit" class="btn-danger">削除</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </section>

    <section class="save-section">
        <form method="post" action="{% url 'canri_app:memberlist_edit_complete' %}" class="save-form">
            {% csrf_token %}
            <input type="text" name="member_list_name" placeholder="メンバーリスト名を入力してください" value="{{ category.category_name }}" class="input-field">
            <input type="text" name="member_list_details" placeholder="メンバーリストの詳細を入力してください" value="{{ category.detail }}" class="textarea-field">
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% for member_id in memberID_list %}
            <input type="hidden" name="memberID_list" value="{{ member_id }}">
            {% endfor %}
            <div class="button-group">
            <input type="hidden" name="category_id" value="{{ category_id }}">
            <button class="btn-success" type="submit">保存</button>
            <button class="btn-light" type="button" onclick="window.location.href='{% url 'canri_app:memberlist' %}'">キャンセル</button>
        </div>
        </form>
    </section>
</div>
{% endblock %}
