{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/member_make.css' %}">
{% endblock %}

{% block content %}
<div class="body">
<h2>メンバー編集</h2>
<form class="center" method="post" action="{% url 'canri_app:member_edit_complete' member_id=member.member_id %}">
    {% csrf_token %}

    {% comment %} メンバーID
    <div class="form-area">
        <label for="member_id">メンバーID</label>
        <!-- member_idを隠しフィールドで送信 -->
        <input type="hidden" id="member_id" name="member_id" value="{{ member_id }}">
        <h3>{{ member_id }}</h3>
    </div> {% endcomment %}

    {% comment %} 名前 {% endcomment %}
    <div class="form-area">
        <label for="name">名前</label>
        <input type="text" id="name" name="name" value="{{ member.name }}">
    </div>

    {% comment %} 生年月日 {% endcomment %}
    <div class="form-area">
        <label for="birthday">生年月日</label>
        <input type="date" id="birthday" name="birthday" value="{{ member.birthdate|date:'Y-m-d' }}">
    </div>
    
    {% comment %} 役職 {% endcomment %}
    <div class="form-area">
        <label for="job_title">役職</label>
        <select id="job_title" name="job_title" >
            {% for job in job_title %}
                <option value="{{ job.job_title_id }}" {% if job.job_title_id == mem_job.job_title_id %} selected {% endif %}>
                    {{ job.job_title }}
                </option>
            {% endfor %}
        </select>
    </div>

    {% comment %} 職歴 {% endcomment %}
    <div class="form-area">
        <label for="career">職歴</label>
        <select id="career" name="career">
        {% if mem_career is null %}
            <option value="" disabled selected>選択してください</option>
        {% endif %}
            {% for career in careerinformation %}
                <option value="{{ career.career_id }}" {% if career.career_id == mem_career.career_id %} selected {% endif %}>
                    {{ career.career }}</option>
            {% endfor %}
        </select>
    </div>

    {% comment %} 資格 {% endcomment %}
    <div class="form-area">
        <label for="qualification">資格</label>
        <select id="qualification" name="qualification">
            {% if mem_credentials.0.qualification_id is null %}
                <option value="" disabled selected>選択してください</option>
            {% endif %}
            {% for crede in credentials %}
                <option value="{{ crede.qualification_id }}"  {% if crede.qualification_id == mem_credentials.0.qualification_id %} selected {% endif %}>
                    {{ crede.qualification_name }}
                </option>
            {% endfor %}
        </select>
    </div>

    {% comment %} 資格2 {% endcomment %}
    <div class="form-area2">
        <label for="qualification2">資格</label>
        <select id="qualification2" name="qualification2">
        {% if mem_credentials.1.qualification_id is null %}
            <option value="" disabled selected>選択してください</option>
        {% endif %}
            {% for crede in credentials %}
                <option value="{{ crede.qualification_id }}"  {% if crede.qualification_id == mem_credentials.1.qualification_id %} selected {% endif %}>
                    {{ crede.qualification_name }}
                </option>
            {% endfor %}
        </select>
    </div>

    {% comment %} 資格3 {% endcomment %}
    <div class="form-area3">
        <label for="qualification3">資格</label>
        <select id="qualification3" name="qualification3">
            {% if mem_credentials.2.qualification_id is null %}
                <option value="" disabled selected>選択してください</option>
            {% endif %}
            {% for crede in credentials %}
                <option value="{{ crede.qualification_id }}"  {% if crede.qualification_id == mem_credentials.2.qualification_id %} selected {% endif %}>
                    {{ crede.qualification_name }}
                </option>
            {% endfor %}
        </select>
    </div>

    {% comment %} MBTI {% endcomment %}
    <div class="form-area">
        <label for="MBTI">MBTI</label>
        <select id="MBTI" name="MBTI" required>
            {% for mbti_item in mbti %}
                <option value="{{ mbti_item.mbti_id }}" {% if mbti_item.mbti_id == mem_mbti.mbti_id %} selected {% endif %}>
                    {{ mbti_item.mbti_name }}
                </option>
            {% endfor %}
        </select>
    </div>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <a href="{% url 'canri_app:member_delete' member_id=member.member_id %}" class="btn delete">削除</a>
    <input type="hidden" value="{{ member.member_id }}"/>
    <button type="submit" class="btn save">保存</button>
</form>
</div>
{% endblock %}
