<form class="center" action="" method="post">

    {% comment %} メンバーID {% endcomment %}
    <div class="form-area">
        <label for="member_id">メンバーID</label>
        <input type="text" name="member_id">
    </div>

    {% comment %} 名前 {% endcomment %}
    <div class="form-area">
    </div>

    {% comment %} 生年月日 {% endcomment %}
    <div class="form-area">
    </div>

    {% comment %} 役職 {% endcomment %}
    <div class="form-area">
    </div>

    {% comment %} 職歴 {% endcomment %}
    <div class="form-area">
    </div>

    {% comment %} 資格 {% endcomment %}
    <div class="form-area">
    </div>

    {% comment %} 資格 {% endcomment %}
    <div class="form-area">
    </div>

    {% comment %} MBTI {% endcomment %}
    <div class="form-area">
    </div>