{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/memberlist.css' %}">
{% endblock %}

{% block content %}
<div class="member-list-container">
    <div class="search-create-bar">
        <form method="GET">
            {% csrf_token %}
            <input type="search" name="query" value="{{ request.GET.query }}" placeholder="メンバー名で検索"/>
            <button type="submit" class="btn">検索</button>
        </form>
        <a href="{% url 'canri_app:memberlist_make' %}" class="create-member-btn">新規メンバーリスト作成</a>
    </div>
    <!--メンバーリスト名を繰り返し表示させる（まだつなげてない）-->
    {% for category in categories %}
    <div class="member-list">
        <div class="member-item">
            <!--メンバーリスト詳細-->
            <span>{{ category.category_name }}</span>
            <form method="GET" action="{% url 'canri_app:memberlist_edit' category_id=category.category_id %}">
                <input type="hidden" name="category_id" value="{{ category.category_id }}">
                <button type="submit" class="btn">詳細</button>
            </form>
            <a href="{% url 'canri_app:memberlist_delete' category_id=category.category_id %}" class="delete-btn">&#128465;</a>
        </div>
    </div>
    {% endfor %}

    <!--スクロールボタン-->
    <div class="pagination">
        <button class="more-btn">&#9660;</button>
    </div>
</div>
{% endblock %}
