{% extends 'base2.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/new_project.css' %}">
{% endblock %}

{% block content %}
<div class="main-content">
    <h1>新規プロジェクト作成</h1>
    <form method="post" action="{% url 'canri_app:new_project_edit' %}">
        {% csrf_token %}
        <label for="project_name">プロジェクト名</label>
        <input type="text" name="project_name" id="project_name" required>
        
        <label for="project_description">プロジェクトの詳細</label>
        <textarea name="project_description" id="project_description" required></textarea>
        
        <label for="start_date">開始日</label>
        <input type="date" name="start_date" id="start_date" required>
        
        <label for="end_date">完了予定日</label>
        <input type="date" name="end_date" id="end_date" required>
        
        <input type="submit" class= "create_button" value="作成">
    </form>
</div>
{% endblock %}