{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/past_project_deleting_confirmation.css' %}">
{% endblock %}

{% block content %}

<!-- モーダル (確認ダイアログ) -->
<div class="modal">
    <div class="modal-content">
        <p>プロジェクトを削除しますか？</p>
        <h2>{{ project.project_name }}</h2>
        <form method="POST" action="{% url 'project_deleted' project_id=project_id %}">
            {% csrf_token %}
            <div class="modal-buttons">
                <button type="submit" class="btn btn-confirm">削除</button>
                <a href="{% url 'past_project' %}" class="btn btn-cancel">キャンセル</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}