{% extends 'base2.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/past_project_view.css' %}">
{% endblock %}

{% block content %}
<main class="main-content">
    <div class="split-container">
        <!-- チームセクション -->
        <section class="teams-section">
            <div class="container">
                <h3>関連チーム</h3>
                <div class="teams-grid">
                    {% for team in teams %}
                        <div class="team-card">
                            <a href="{% url 'canri_app:team_edit_past' team_id=team.team_id%}?project_id={{ project.project_id}}">{{ team.team_name }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-- 境界線 -->
        <div class="vertical-line"></div>

        <!-- 右側のプロジェクト詳細セクション -->
        <section class="project-section">
            <div class="project-list">
                <form method="post" action="{% url 'canri_app:past_project_view' project_id=project.project_id %}">
                    {% csrf_token %}
                    <input type="hidden" name="project_id" value="{{ project.project_id }}">
                    <h1>{{ project.project_name }}</h1>
                    <div class="horizontal-line"></div>
                    <p>開始日: {{ project.creation_date|date:"Y年m月d日" }}</p>
                    <p>完了日: {{ project.complete_date|date:"Y年m月d日" }}</p>
                    <label for="post_evaluation_memo">プロジェクト詳細：</label>
                    <p>&emsp;&emsp;{{ project.project_detail }}</p>
                    <label for="post_evaluation_memo">事後評価メモ</label>
                    <textarea id="post_evaluation_memo" name="post_evaluation_memo" rows="15" style="width: 100%; margin-bottom: 20px;">{{ project.post_evaluation_memo }}</textarea>
                    <div class="button-container">
                        <button type="button" class="feedbackbutton" onclick="openAddFeedback()">フィードバック</button>
                        <button type="button" class="delete-button" onclick="openDeleteModal()">削除</button>
                        <button type="submit" class="action-button">保存</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</main>

<!-- フィードバックモーダル -->
<div class="modal" style="display: none;">
    <div class="modal-content" style="width: 70%; max-width: 1000px;">
        <span class="close" onclick="closeFeedbackModal()">&times;</span>
        <div id="modal-body">
            <!-- feedback_application.htmlの内容 -->         
        </div>
    </div>
</div>

<div class="modal" id="saveCompleteModal" style="display: none;">
    <div class="modal-content" style="width: 70%; height: 30vh; max-width: 1000px;">
        <span class="close" onclick="closeSaveCompleteModal()">&times;</span>
        <div id="save-complete-body">
            <!-- feedback_save_complete.htmlの内容 -->
        </div>
    </div>
</div>

<!-- 削除確認モーダル -->
<div class="modal" id="deleteModal" style="display: none;">
    <div class="modal-content" style="width: 50%; max-width: 600px;">
        <span class="close" onclick="closeDeleteModal()">&times;</span>
        <h2>削除確認</h2>
        <p>このプロジェクトを削除してもよろしいですか？</p>
        <form method="post" action="{% url 'canri_app:past_project_view' project_id=project.project_id %}">
            {% csrf_token %}
            <input type="hidden" name="delete" value="1">
            <button type="submit" class="action-button">削除</button>
        </form>
    </div>
</div>

<script>
    // フィードバックモーダルを開く
    function openAddFeedback() {
        const projectId = document.querySelector('input[name="project_id"]').value;
        if (!projectId) {
            console.error('Project ID is missing');
            return;
        }
        fetch("{% url 'canri_app:feedback' project_id=0 %}".replace('0', projectId))
            .then(response => response.text())
            .then(html => {
                document.getElementById('modal-body').innerHTML = html;
                document.querySelector('.modal').style.display = 'block';
                fetchMembers(projectId);
            })
            .catch(error => console.error('Error loading feedback application:', error));
    }

    // メンバー情報を取得する
    function fetchMembers(projectId) {
        fetch("{% url 'canri_app:get_members_by_project' project_id=0 %}".replace('0', projectId))
            .then(response => response.json())
            .then(data => {
                window.members = data.members;
            })
            .catch(error => console.error('Error fetching members:', error));
    }

    // フィードバック行を追加する
    function addFeedbackRow() {
        const feedbackContainer = document.getElementById('feedback-container');
        const newRow = document.createElement('div');
        newRow.classList.add('feedback-row');
        newRow.innerHTML = `
            <form method="post" class="feedback-form">
                {% csrf_token %}
                <select name="member1" title="member1" onchange="validateMembers(this)">
                    <option value="">メンバーを選択</option>
                    ${window.members.map(member => `<option value="${member.member_id}">${member.name}</option>`).join('')}
                </select>
                と
                <select name="member2" title="member2" onchange="validateMembers(this)">
                    <option value="">メンバーを選択</option>
                    ${window.members.map(member => `<option value="${member.member_id}">${member.name}</option>`).join('')}
                </select>
                を
                <select name="priority" title="condition:">
                    <option value="True">優先的に同じチームに編成する</option>
                    <option value="False">同じチームに編成しない</option>
                </select>
                <button type="button" class="btn btn-danger" onclick="this.parentElement.parentElement.remove()">🗑️</button>
            </form>
        `;
        feedbackContainer.appendChild(newRow);
    }

    // メンバー選択のバリデーション
    function validateMembers(selectElement) {
        const form = selectElement.closest('form');
        const member1 = form.querySelector('select[name="member1"]').value;
        const member2 = form.querySelector('select[name="member2"]').value;

        if (member1 === member2) {
            alert('同じメンバーを選択することはできません。');
            selectElement.value = '';
        }
    }

    // フィードバックモーダルを閉じる
    function closeFeedbackModal() {
        document.querySelector('.modal').style.display = 'none';
    }
    function closeSaveCompleteModal() {
        document.getElementById('saveCompleteModal').style.display = 'none';
    }
    function openDeleteModal() {
        document.getElementById('deleteModal').style.display = 'block';
    }
    function closeDeleteModal() {
        document.getElementById('deleteModal').style.display = 'none';
    }

    // フィードバックを保存する
    function saveFeedback() {
        const feedbackContainer = document.getElementById('feedback-container');
        const forms = feedbackContainer.querySelectorAll('.feedback-form');
        const feedbacks = [];
        forms.forEach((form) => {
            const feedbackId = form.querySelector('input[name="feedback_id"]') ? form.querySelector('input[name="feedback_id"]').value : null;
            const member1 = form.querySelector('select[name="member1"]').value;
            const member2 = form.querySelector('select[name="member2"]').value;
            const priority = form.querySelector('select[name="priority"]').value;
            feedbacks.push({ feedback_id: feedbackId, member1, member2, priority });
        });

        const projectId = document.querySelector('input[name="project_id"]').value;
        const data = {
            project_id: projectId,
            feedbacks: feedbacks
        };

        fetch("{% url 'canri_app:feedback_save' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify(data)
        })
        .then(response => response.text())
        .then(html => {
            document.querySelector('.modal').style.display = 'none';
            document.getElementById('save-complete-body').innerHTML = html;
            document.getElementById('saveCompleteModal').style.display = 'block';
        })
        .catch(error => console.error('Error saving feedback:', error));
    }

    // フィードバックを削除する
    function deleteFeedback(feedbackId) {
        fetch("{% url 'canri_app:delete_feedback' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify({ feedback_id: feedbackId })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                location.reload();
            }
        })
        .catch(error => console.error('Error deleting feedback:', error));
    }

    // CSRFトークンを取得する関数
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock %}
