{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/past_project_list.css' %}">
{% endblock %}

{% block content %}
<!-- 検索バー -->
<div class="search-container">
    <form method="GET" action="{% url 'canri_app:past_project' %}">
        <input type="text" name="q" class="search-input" placeholder="キーワードを入力" value="{{ request.GET.q }}" required>
        <button type="submit" class="search-button">検索</button>
    </form>
</div>

<h2>過去プロジェクト</h2>

<!-- プロジェクトテーブル -->
<div class="project-table">
    {% for project in project_list %}
    <div class="project-row">
        <div class="project-name">
            <a href="{% url 'canri_app:past_project_view' project.project_id %}" class="project_a">{{ project.project_name }}</a>
        </div>
        <div class="project-period">プロジェクト開始日：<br>&emsp;{{ project.project_start_date|date:"Y年m月d日" }}</div>
        <div class="project-complete">プロジェクト完了日：<br>&emsp;{{ project.project_end_date|date:"Y年m月d日" }}</div>
        <div class="project-details">プロジェクト詳細：<br>&emsp;{{ project.project_detail }}</div>
        <!-- 削除確認モーダルを開くリンク -->
        <form method="POST" action="{% url 'canri_app:past_project_deleting_confirmation' project.project_id %}">
            {% csrf_token %}
            <button type="submit" class="action-button">削除</button>
        </form>
    </div>
    {% empty %}
    <div class="project-row">
        <div class="project-details">完了済みのプロジェクトが存在しません</div>
    </div>
    {% endfor %}
</div>
{% endblock %}