{% extends 'base.html' %}
{% load static %}
{% block head %}
<!-- 外部CSSファイルを読み込む -->
<link rel="stylesheet" href="{% static 'css/progress_within_projectlist.css' %}">
{% endblock %}

{% block content %}
<!-- 検索バー -->
<div class="search-container">
    <form method="GET" action="{% url 'canri_app:project' %}">
        <input type="text" name="q" class="search-input" placeholder="キーワードを入力" value="{{ request.GET.q }}">
        <button type="submit" class="search-button">検索</button>
    </form>
</div>

<h2>進行中プロジェクト</h2>

<!-- プロジェクトテーブル -->
<div class="project-table">
    {% for project in project_list %}
    <div class="project-row">
        <div class="project-name">
            <a href="{% url 'canri_app:project_detail' project.project_id %}">{{ project.project_name }}</a>
        </div>
        <div class="project-period">プロジェクト開始日：<br>{{ project.project_start_date|date:"Y年m月d日" }}</div>
        <div class="project-details">プロジェクト詳細：<br>{{ project.project_detail }}</div>
        <a href="{% url 'canri_app:project_complete' project_id=project.project_id %}" class="savebutton">保存</a>
    </div>
    {% empty %}
    <div class="project-row">
        <div class="project-details">プロジェクトが見つかりませんでした。</div>
    </div>
    {% endfor %}
</div>
{% endblock %}
